/* 
Aaron Silvers
Nathan Truong

CSC 337, Spring 2019
Final Project

This is the css page for the application named Stock Checker.
The images are floated to the right and left.
2 font families were used, helvetica and impact style fonts.
Box Model properties include, padding, margin, border, width, text-align, and box-shadow.
This page also passes validators.
*/
h1 {
	font-family: helvetica;
	width: 50%;
	margin:auto;
	padding-bottom:25px;
}
body {
	font-family: Impact;
	text-align: center;
	overflow: hidden;
}

#Elon {
	float:right;
}
.container {
	width: 50%;
	margin:auto;
}
#canvas {
	margin-top: 10px;
	border:solid;
	box-shadow: 3px 3px;
	padding-bottom: 3px;
	margin:auto;
	
	
}
#news{
	width: 50%;
	margin:auto;
}
#Jeff {
	float:left;
	
}

